In [23]:
import requests
import numpy as np
import random
import pandas as pd
import os
import re
import seaborn as sns

In [46]:
api_df = pd.read_csv('/Users/pptrv/IronHack/Week_3-Project/Data/df_energy_api_2015_to_2018_final.csv', encoding ='latin1')
api_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1457 entries, 0 to 1456
Data columns (total 3 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   renewable energy generation percentage      1457 non-null   float64
 1   non-renewable energy generation percentage  1457 non-null   float64
 2   date                                        1457 non-null   object
dtypes: float64(2), object(1)
memory usage: 34.3+ KB

In [48]:
api_df = api_df.rename(columns={'date': 'Dates'})

In [49]:
api_df= api_df.sort_values('Dates')

In [63]:
api_df.tail(5)

,renewable energy generation percentage,non-renewable energy generation percentage,Dates
1452,0.244731,0.755269,2018-12-26
1453,0.314279,0.685721,2018-12-27
1454,0.456381,0.543619,2018-12-28
1455,0.408669,0.591331,2018-12-29
1456,0.341351,0.658649,2018-12-30

In [51]:
kaggle_df = pd.read_csv('/Users/pptrv/IronHack/Week_3-Project/Data/data_energy_price_final.csv', encoding ='latin1')
kaggle_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Dates         1460 non-null   object
 1   energy price  1460 non-null   float64
dtypes: float64(1), object(1)
memory usage: 22.9+ KB

In [62]:
kaggle_df.tail(5)

           Dates  energy price
1455  2018-12-26     69.054167
1456  2018-12-27     72.959583
1457  2018-12-28     69.230417
1458  2018-12-29     62.623333
1459  2018-12-30     64.567083

Merge both dataframes:

In [53]:
merged_dfs = pd.merge(api_df, kaggle_df, on="Dates")

In [56]:
merged_dfs.head(5)

,renewable energy generation percentage,non-renewable energy generation percentage,Dates,energy price
0,0.286496,0.713504,2015-01-01,62.090833
1,0.305717,0.694283,2015-01-02,69.443750
2,0.316026,0.683974,2015-01-03,65.223333
3,0.253253,0.746747,2015-01-04,58.912083
4,0.260555,0.739445,2015-01-05,74.598333

Re-organizing columns:

In [60]:
merged_dfs = merged_dfs[["Dates", "renewable energy generation percentage", "non-renewable energy generation percentage", "energy price"]]

In [64]:
merged_dfs.tail(5)

,Dates,renewable energy generation percentage,non-renewable energy generation percentage,energy price
1452,2018-12-26,0.244731,0.755269,69.054167
1453,2018-12-27,0.314279,0.685721,72.959583
1454,2018-12-28,0.456381,0.543619,69.230417
1455,2018-12-29,0.408669,0.591331,62.623333
1456,2018-12-30,0.341351,0.658649,64.567083

Final dataframe:

In [66]:
energy_price_vs_generation_data = merged_dfs

Convert df to csv

In [68]:
energy_price_vs_generation_data.to_csv(r'/Users/pptrv/IronHack/Week_3-Project/Data/energy_price_vs_generation_data.csv', index = False)